{% extends 'base.html.twig' %}

{% block title %}Úprava materiálu{% endblock %}
{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-4">
                {% include 'material/formMaterial.html.twig' %}
            </div>
        </div>
    </div>
{% endblock %}